
.banner{
  height: 840px;
  background: url("../../assets/images/banner.png") no-repeat center/cover;
  @include mobile{ 
    height: 394px;
    background: url("../../assets/images/banner-sm.png") no-repeat center/cover;
  };
}
.professional{
  li{
    @include pad{ 
      width: 255px;
    };
    .professional-img{
      height: 100px;
    }
  }
}
.classic{
  .classic-img{
    width: 635px;
    @include pad{ 
      width: 52%;
      p{
        line-height: 72px;
      }
    };
    @include mobile{ 
      width: 100%;
    };
  }
}
.design{
  background: url("../../assets/images/bg.png") no-repeat center/cover;
  .design-bg{
    background-color: $light;
    opacity: 0.5;
  }
  @include pad{ 
    h4{
      line-height: 25px;
    }
  };
}
.recommend {
  @include pad{ 
    li{
      width: 47%;
    }
  };
  @include mobile{ 
    li{
      width: 100%;
    }
  };
  .recommend-body{
    height: 204px;
  }
}

.contact-main {
  @include pad{ 
    width: 450px;
  };
  @include mobile{ 
    width: 100%;
  };
}





