.navBar{
  .navBar-text{
    line-height: 50px;
    @include mobile{ 
      line-height: 1;
    };
  }
}
.product-banner{
  li{
    @include pad{ 
      height: 304px;
    }
    @include mobile{
      height: auto;
    };
  }
}
.product-list{
  @include padPro{ 
    width: 22.5%;
  }
  @include pad{ 
    width: 47%;
  }
  img{
    width: 255px;
    height: 164px;
    @include pad{ 
      width: 100%;
    }
  }
  
  .box{
    width: 24px;
    height: 24px;
    @include mobile{
      width: 15px;
      height: 16px;
    };
  }
}
