body {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans TC", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}
img{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
a{
  display: block;
  text-decoration: none;
  color: $light;
  &:hover{
    color: $gray;
  }
}

input,textarea{
  padding: $size * 3.5 $size * 4;
  @include pad{ 
    padding: $size * 2 $size * 3;
  };
}





