//做出自己的常用mixin

// //h2
// @mixin title_prm($color){
//   font-size: $size * 16; //64px
//   line-height: 84px;
//   color: $color;
//   font-weight: 600;
// }

@mixin title_sec($color){
  font-size: $size * 3;
  line-height: $size * 4.5;
  color: $color;
}