$primary: #650300;
$primary_light: #FBF2F2;
$secondary: #AA0601;
$color-dark: #5F3E2D;
$color-light: #B75929;
$light: #fff;
$dark: #000;
$gray: #ccc;
$gray-light: #707070;
$gray-dark: #555555;
$other: #DEE2E6;
$other-light: #F2F2F2;
$shadow: #00000029;

$size: 4px;

